<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.6.2" />
        <pages controlRenderingCompatibilityVersion="4.0" />
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true"/>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Xss-Protection" value="1; mode=block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
                <add name="Content-Security-Policy" value="default-src https:" />
                <add name="X-Content-Security-Policy" value="default-src https:" />
                <remove name="X-Powered-By"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>